/* src/styles/cart.css */

* {
  color: #d9d1e8;
}

body {
  background-color: #13111a;
  /* Dark background color */
  /* text colour change to #d9d1e8*/

}

.simple-page {
  padding: 20px;
}

.simple-page h1 {
  text-align: center;
  margin-right: 20px;

}

.blocks-container {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 20px;

}

.block2 {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 150px;
  display: inline-block;
  text-decoration: none;
}

.block2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-items-container {
  margin-top: 20px;
  margin-right: 20px;
}

.food-items {
  list-style: none;
  width: 50%;
  padding: 0;
}


.vertical-container {
  display: flex;
  justify-content: space-between;
  /* height: 100%; */
  padding-left: 20px;
  margin-left: 20px;
  /* change color to #342e40 */
}


ul li {
  list-style: none;
  font-size: 18px;
  padding: 20px 80px 20px 80px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;

  background-image: url(images/ring.jpg);
  background-size: cover;
  background-position: center;

  top: 8px;
  left: 8px;

}

.food-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #342e40;
  margin-bottom: 30px;
}

.food-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.food-item .item-name {
  width: 100%;
  margin-left: 20px;
  /* align text to left */
  text-align: left;
}

.item-name,
.item-price {
  display: flex;
  width: 100%;
}

.item-price {
  margin-left: 30px;
  padding: 30px 0;
}

.food-item p {
  margin: 0 15px;
  margin-left: 20px;
}

.food-item button {
  padding: 5px 10px;
  background-color: #d9d0e7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.food-item button:hover {
  background-color: #b9a3da;
}


.email-input {
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #342e40;
}

.email-input input {
  background-color: #d9d0e7;
  /* Light lilac background color */
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}

/* change input typing colour to #342e40*/
.email-input input::placeholder {
  color: #685b80;
}

/*also change user input colour*/
.email-input input {
  color: #342e40;
}

.confirmation-button {
  padding: 10px;
  width: 200px;
  margin-top: 50px;
  color: #13111a;
  background-color: #d9d0e7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  /* make font bold */
  font-weight: bold;
  margin-bottom: 50px;
}

.remove-button {
  /* change text to #13111a*/
  width: auto;
  margin-right: 30px;
  color: #13111a;
  font-weight: bold;
}

.totals-container {
  display: flex;
  justify-content: center;
  /* Center the container */
  margin-top: 20px;
  height: 50px;
  background-color: #d9d0e7;
  border-radius: 8px;
}

.totals-container li {
  color: #342e40;
  /* centre text to its container vertically */
  display: flex;
  align-items: center;
  justify-content: center;

}

.price-actual-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #342e40;
  border-radius: 8px;
  padding-top: 30px;
}

.price-actual-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #342e40;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.price-actual-info h3 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
}

.confirmation-button:hover {
  background-color: #b9a3da;
}