/* src/styles/cart.css */

* {
    color: black;
}
.simple-page {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.blocks-container {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.block2 {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 150px;
    display: inline-block;
    text-decoration: none;
}

.block2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-items-container {
    margin-top: 20px;
    margin-right: 20px;
}

.food-items {
    list-style: none;
    width: 50%;
    padding: 0;
}

.price-info{
    flex:  1;
    /* align centre but vertically stacked*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    height: 300px;
    display: inline-block;
    text-decoration: none;
       
}
.vertical-container {
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    padding-left: 20px;
    margin-left: 20px;
}


ul li {
    list-style: none;
    font-size: 18px;
    color: rgb(122, 87, 87);
    padding: 20px 80px 20px 80px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  
  ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    
    background-image: url(images/ring.jpg);
    background-size: cover;
    background-position: center;
    
    top: 8px;
    left: 8px;
  
  }

.food-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.food-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.food-item .item-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food-item p {
    margin: 0 15px;
}

.food-item button {
    padding: 5px 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#CheckoutButton {
    background-color: aquamarine;
}

.food-item button:hover {
    background-color: #7e1212;
}


.email-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.email-input input {
    background-color: #ede3fd; /* Light blue background color */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
.confirmation-button {
    padding: 10px;
    margin-top: 100px;
    background-color: #d7c6ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}