.discover-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-top: 30px;
  width: 100%;
  background-color: blue;
}

.simple-page2 h1 {
  text-align: center;
}

.discover-text {
  text-align: center;
}

.search-bar {
  margin: 10px 0;
  /* Add some margin for spacing */
}

.filters {
  display: flex;
  justify-content: center;
  /* Center filter buttons horizontally */
  gap: 10px;
  /* Add some space between buttons */
}

.blocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* Align items from the left */
  gap: 10px;
  /* Add some space between blocks */
  background-color: red;
  padding: 0 30px;
}

.block {
  flex: 0 1 calc(25% - 10px);
  /* Ensure blocks take 25% of the container width minus the gap */
  margin-bottom: 20px;
  box-sizing: border-box;
}

.imgWrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

.block-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.block-card .block-text {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: #333;
}

.search-form {
  display: flex;
  margin-top: 10px;
  width: 700px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-button:hover {
  background-color: #FBCF68;
}

.h2 {
  color: white;
}

.favorites-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.favorites-toggle button {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.favorites-toggle button:hover {
  background-color: #f0f0f0;
}

/* discover.css */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters label {
  margin-right: 10px;
  align-self: center;
}

.filters select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.filters select:focus {
  border-color: #aaa;
}

.food-type-header {
  background-color: purple;
}

.food-type-header {
  display: flex;
  align-items: center;
  /* Align items vertically centered */
  justify-content: space-between;
  /* Space out the items */
}

.food-type-header h2 {
  margin: 0;
  color: white;
  font-size: 2.5rem;
  margin-left: 45px;
}

.food-type-header button {
  margin-left: auto;
  margin-right: 45px;
  /* Push the button to the right */
}