.main-home {
  width: 100%;
  height: 100%;
}

.home-container {
  line-height: 1.6;
  /* background-image: url('../resources/images/homepageimghighres.png'); */
  /* background-image: url('/src/assets/Background\ image\ \(1\).png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
}

.home-contents {
  text-align: center;
  color: #ffffff;
  padding: 20px;
  text-align: left;
  /* margin: 0 auto; */
  padding-top: 20px;
  margin-left: 18%;

}

.home-container img {
  width: auto;
  height: 72%;
  margin: auto;

}

.home-contents h1 {
  color: #d9d2e9;
  font-size: 3em;
  margin-top: 0%;
  margin-left: -5%;
  margin-bottom: 50px;
  margin-left: 3%;
  /* color: #ffffff; */
}

body {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}


.search-form {
  display: flex;
  margin-top: 10px;
  width: 800px;
  height: 40px;
  /* margin-left: -5%; */
  margin-left: 12.5%;
}

.search-form button {
  margin-left: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #7A62BB;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #FBCF68;
}


.nav-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-evenly; */
  gap: 5px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 7%;
  padding: 20px;

}

.nav-card {
  flex: 1;
  max-width: 400px;
  height: 450px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background-color: #342e40;
}

.imgWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.planet-map {
  width: 60%;
  height: 60%;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
  margin-left: 20%;
}

.home-logo {
  width: 20%;
  margin-left: 40%;
}

.map-divider h2 {
  color: white;
  font-size: 34px;
  margin-bottom: 30px;
}

.pics {
  width: 80px;
  height: 72px;
}