/* src/styles/restaurants.css */
.recipt-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    display: 'flex';
    justify-content: 'center'; 
    align-items: 'center';
    flex-direction: 'column'; 
    padding-left: 0
}

.subtitle-recipt {
    padding-left: 0;
    text-align: center;
    padding-bottom: 20px;
}

.blocks-container {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 20px;
}
.tick-image{
    max-width: 20%;
    padding: 20px;
}
.block1 {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    display: inline-block;
    text-decoration: none;
}

.block1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-items-container {
    margin-top: 20px;
}

.food-items {
    list-style: none;
    padding: 0;
}

ul li {
    list-style: none;
    font-size: 18px;
    color: rgb(122, 87, 87);
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  
  ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    
    background-image: url(images/ring.jpg);
    background-size: cover;
    background-position: center;
    
    top: 8px;
    left: 8px;
  
  }

.home-button-recipt {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button-recipt button:hover {
    background-color: #218838;
}